body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #111;
}
* {
  box-sizing: border-box;
}

.weather-app {
  min-height: 100vh;
  background-image: url(../images/darkbg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Search Panel */

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  padding: 3rem 2rem;
  overflow-y: scroll;
}

.panel form {
  margin-bottom: 3rem;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem;
  margin: 0;
  border: none;
  outline: none;
  background: blueviolet;
  color: azure;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}

.submit:hover {
  background: #fff;
  color: #000;
}

.search {
  background: none;
  border: none;
  border-bottom: 2px #ccc solid;
  padding: 0 1rem 0.5rem 0;
  width: 75%;
  color: aliceblue;
  font-size: 1.5rem;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1rem 0;
  margin: 2rem 0;
  border-bottom: 2px #ccc solid;
}
